.button {
    padding: 0.4rem;
    border: 0.1rem solid var(--color-primary-light);
    border-radius: 0.3rem;
    background-color: var(--color-primary-light);
    font-family: Quicksand;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white);
    width: 100%;
  }

  .button:hover{
    background-color: var(--color-primary);
    color:var(--white);
    cursor: pointer;
    border: 0.1rem solid var(--color-primary)
}
  
  label {
    margin: 2rem 0rem 1rem;
    font-weight: bold;
    display: block;
  }
  