.button {
    width: 15rem;
    height: 2.5rem;
    border: 0.1rem var(--color-primary-light);
    border-radius: 0.3rem;
    background-color: var(--color-primary-light);
    font-family: Quicksand;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white);
    margin:var(--space-m) 0;
}