.form{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    justify-content: space-between;
}
.search{
    width: 49.2rem;
    height: 2.87rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--color-primary);
    font-family: Quicksand;
    font-size: 1.43rem;
    color: var(--grey);
}
.filter{
    height: 2.87rem;
    width: 10.25rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--color-primary);
    font-family: Quicksand;
    font-size: 1.43rem;
    color: var(--grey);
}
.arrange{
    height: 2.87rem;
    width: 10.25rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--color-primary);
    font-family: Quicksand;
    font-size: 1.43rem;
    color: var(--grey);
}

@media (max-width: 960px) {
    .form {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}