.main{
    padding: var(--space-xl);
    margin: 0px 70px;
}

<<<<<<< HEAD
.h2{
    width: 316px;
    height: 30px;
    flex-grow: 0;
    margin: 0 197px 40px 1px;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
}

=======
.page{
    background-color: var(--grey-background);
}

h2{
    font-family: Quicksand;
    font-weight: bold;
}
>>>>>>> f46d7eb8c69364268b09fa71c5487b03a8a2a208
