.article{
    width: 31rem;
    height: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px var(--green-500);
    background-color: var(--white);
    font-family: Quicksand;
    font-size: 18px;
    text-align: left;
    color: var(--gray-gray-500);
}

.ul{
    gap: var(--space-m);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 960px) {
    .ul {
        grid-template-columns: 1fr ;
    }
}